@page "/developer"
@using System.Text.Json
@using Infrastructure.Common
@using Domain.Models

<h1>Developer Page</h1>
<AuthorizeView>
    <Authorized>
        <div class="construction">
            Hello, <strong> @context.User.Identity!.Name!.UpperCaseFirstCharacter() </strong> !
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="construction">
            This is <strong>developer</strong> page exclusive.
        </div>
    </NotAuthorized>
</AuthorizeView>

    <button
        class="btn btn-primary input-form"
        @onclick="Parse"
        type="submit">Parse
    </button>
    <br>
    @cache

@code{

    private User? user;

    string cache = "cache";
    private async Task Parse()
    {
        var result = await LocalStorage!.GetAsync<string>("developer");
        if(result.Success)
        {
            cache = result.Value!;
            user = JsonSerializer.Deserialize<User>(result.Value!);
        }
    }
}