@page "/developer"
@using Infrastructure.Common

<h1>Developer Page</h1>
<AuthorizeView>
    <Authorized>
        <div class="construction">
            Hello, <strong> @context.User.Identity!.Name!.UpperCaseFirstCharacter() </strong> !
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="construction">
            This is <strong>developer</strong> page exclusive.
        </div>
    </NotAuthorized>
</AuthorizeView>
