@inherits AuthPageBase
@page "/auth"

<EditForm Model="@Guest" OnValidSubmit="@TryLoginAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="__container bg-light">
        <InputText
            id="username"
            class="form-control __gap"
            placeholder="Username"
            @bind-Value="Guest!.Username">
        </InputText>
        <InputText
            id="password"
            type="password"
            class="form-control __gap"
            placeholder="Password"
            @bind-Value="Guest!.Password">
        </InputText>
        <button
            class="btn btn-primary __gap"
            type="submit">Login
        </button>
    </div>
</EditForm>