@inherits AuthPageBase
@page "/auth"

<h1 class="_red">Login Page</h1>

<EditForm Model="@Guest">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText
        id="username"
        class="form-control input-form"
        placeholder="Username"
        @bind-Value="Guest!.Username">
    </InputText>
    <InputText
        id="password"
        type="password"
        class="form-control input-form"
        placeholder="Password"
        @bind-Value="Guest!.Password">
    </InputText>

</EditForm>